export(knit2html_cli)
export(knit2pdf_cli)
export(render_html_report)
export(render_html_report_with_runinfo)
export(render_pdf_report)
export(render_pdf_report_with_runinfo)
export(report_asset_bar)
export(report_asset_paths)
export(report_download_link)
export(report_plot_pdf_data_uri)
export(report_plot_png_data_uri)
export(report_text_data_uri)
export(report_tsv_text)
export(write_runinfo)
