S3method(as.character,reportdeck_download_asset)
export(knit2html_cli)
export(knit2pdf_cli)
export(packhtml_cli)
export(render_html_report)
export(render_html_report_linked)
export(render_html_report_linked_with_runinfo)
export(render_html_report_portable_with_runinfo)
export(render_html_report_with_runinfo)
export(render_pdf_report)
export(render_pdf_report_with_runinfo)
export(reportdeck_is_linked_mode)
export(reportdeck_setup_linked)
export(report_asset_bar)
export(report_asset_name)
export(report_bundle_asset_bar)
export(report_bundle_download_links)
export(report_figure_name)
export(report_item_panel)
export(report_item_plot)
export(report_item_table)
export(report_loop_section)
export(report_asset_paths)
export(report_download_link)
export(report_plot_bundle)
export(report_plot_pdf_data_uri)
export(report_plot_png_data_uri)
export(report_table_name)
export(report_text_data_uri)
export(report_tsv_download_link)
export(report_tsv_text)
export(write_runinfo)
